<%= stylesheet_link_tag 'stylesURL' %>

<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  <%= link_to "Home", home_index_path %> <br />
  <%= link_to "About", home_about_path %> <br />
  <%= link_to "Contact", home_contact_path %> <br />
</p>

<p>
  The date/time is now <%= @time %>
  Image: <%= image_tag 'imageURL' %>
</p>
