<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @customer.order_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>Has paid:</strong>
  <%= @customer.has_paid %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @customer.created_at %>
</p>

<p>
  <strong>Modified at:</strong>
  <%= @customer.modified_at %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
