<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :order_customer_id %>
  </div>

  <div class="field">
    <%= form.label :sale_date %>
    <%= form.datetime_select :sale_date, id: :order_sale_date %>
  </div>

  <div class="field">
    <%= form.label :date_time %>
    <%= form.datetime_select :date_time, id: :order_date_time %>
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.text_field :sale_price, id: :order_sale_price %>
  </div>

  <div class="field">
    <%= form.label :sale_tax %>
    <%= form.text_field :sale_tax, id: :order_sale_tax %>
  </div>

  <div class="field">
    <%= form.label :trans_fee %>
    <%= form.text_field :trans_fee, id: :order_trans_fee %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price, id: :order_total_price %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :order_created_at %>
  </div>

  <div class="field">
    <%= form.label :modified_at %>
    <%= form.datetime_select :modified_at, id: :order_modified_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
